{{ partial "header.html" . }}
{{ partial "nav.html" . }}
<div class="container" style="padding: 60px 40px;">
    <div style="text-align: center;">
    <h2 class="section-title" style="font-size: 28px; margin-bottom: 60px;">アーカイブ</h2>
    </div>
    <div class="archive-grid">
        {{ range .Paginator.Pages }}
        <article>
            <div class="archive-item" style="margin-bottom: 20px;">
            <a href="{{ .RelPermalink }}">
                <h2 style="font-size: 24px; margin: 20px 0 10px;">{{ .Title }}</h2>
                <p class="summary-desktop" style="color: var(--text-muted); font-size: 14px;">
                    {{ .Summary | plainify | truncate 134 }}
                </p>
                <p class="summary-mobile" style="color: var(--text-muted); font-size: 14px;">
                    {{ .Summary | plainify | truncate 20 }}
                </p>
            </a>
            </div>
        </article>
        {{ end }}
    </div>
</div>
{{ partial "footer.html" . }}
