<header class="floating-header">
    <div class="header-logo">
        <a href="{{ .Site.BaseURL }}">
            <img src="{{ "images/home-title.png" | relURL }}" class="logo-image">
        </a>
    </div>

    <button class="hamburger" id="js-hamburger" aria-label="メニューを開閉する">
        <span></span><span></span><span></span>
    </button>

    <nav class="nav-menu" id="js-nav-menu">
        <a href="{{ .Site.BaseURL }}">Home</a>
        <a href="{{ .Site.BaseURL }}posts/">Articles</a>
        <a href="{{ .Site.BaseURL }}about/">About</a>
    </nav>
</header>
