<nav class="custom-navigation">
  <div class="nav-left"></div>

  <div class="nav-center">
    <a href="{{ .Site.BaseURL }}" style="text-decoration: none; color: inherit;">
      <img src="{{ "images/taru.png" | relURL }}" alt="Beer Icon" class="beer-icon beer-left">
      
      <span class="site-title">ishikawaの酒場</span>
      
      <img src="{{ "images/alcohol_mug.png" | relURL }}" alt="Beer Icon" class="beer-icon beer-right">
    </a>
  </div>

  <div class="nav-right">
    {{ range .Site.Menus.main }}
      <a href="{{ .URL | relURL }}" class="nes-btn {{ if $.IsMenuCurrent "main" . }}is-primary{{ else }}is-default{{ end }}">
        {{ .Name }}
      </a>
    {{ end }}
  </div>
</nav>
